/**
 * Board
 * The styling for the chess board
 *
 * Index
 * - Board
 * - Squares
 * - File labels
 * - Rank labels
 */

/**
 * Board
 * The main container
 */

#board {
    /* Set the grid of the board */
    display: grid;
    grid-template-columns: 32px 512px 32px; /* rank-label | squares | rank-label  */
    grid-template-rows: 32px 512px 32px; /* file-label | squares | file-label */
}

/**
 * Squares
 * The squares on the the board
 */

#board #squares {
    /* Set position in the board grid */
    grid-column: 2; /* rank-label | squares | rank-label */
    grid-row: 2; /* file-label | squares | file-label  */
}

#board #squares .square {
    /* Size of square */
    width: 64px;
    height: 64px;
    /* Make the squares align properly */
    float: left;
}

#board #squares .square.dark {
    /* Color of the square */
    background-color: #332411;
}

#board #squares .square.light {
    /* Color of the square */
    background-color: #ffe4c4;
}

/**
 * File labels
 * The column labels above and below the board
 */

#board .file-labels {
    grid-column: 2; /* rank-label | squares | rank-label (put above and below the squares) */
}

#board #file-labels-top {
    grid-row: 1; /* file-label-top | squares | file-label-bottom */
}

#board #file-labels-bottom {
    grid-row: 3; /* file-label-top | squares | file-label-bottom */
}

#board .file-labels .file-label {
    /* Width of a square */
    width: 64px;
    /* Center the text */
    text-align: center;
    line-height: 32px;
    /* Make the labels align properly */
    float: left;
}

/**
 * File labels
 * The rank labels above and below the board
 */

#board .rank-labels {
    grid-row: 2; /* file-label | squares | file-label (put left and right of the squares) */
}

#board #rank-labels-left {
    grid-column: 1; /* rank-label-left | squares | rank-label-right */
}

#board #rank-labels-right {
    grid-column: 3; /* rank-label-left | squares | rank-label-right */
}

#board .rank-labels .rank-label {
    /* Height of a square */
    height: 64px;
    /* Center the text */
    text-align: center;
    line-height: 64px;
    /* Make the labels align properly */
    float: top;
}
