/**
 * Pieces
 * The styling for chess pieces
 *
 * Index
 * - Piece
 */

/**
 * Piece
 * The styling for a chess piece
 */

.piece {
    /* Set the size of the piece (64 - margin - border-width) */
    width: 44px;
    height: 44px;
    /* Center the piece using the margin */
    margin: 8px;
    /* Center the text in the middle of the piece */
    line-height: 44px;
    text-align: center;
    /* Add a border to the piece */
    border-style: solid;
    border-width: 2px;
    /* Make the piece circular */
    border-radius: 24px;
}

.piece.white {
    /* Make the piece white */
    background-color: white;
    /* Make the border white */
    border-color: black;
    /* Make the text black */
    color: black;
}

.piece.black {
    /* Make the piece black */
    background-color: black;
    /* Make the border white */
    border-color: white;
    /* Make the text white */
    color: white;
}
